<header>
	<div class="container-fluid">
		<div class="row">
			<a href="/"><div #logo class="logo pull-left"></div></a>
			<menu-bar></menu-bar>
			<div class="menu pull-right">
				<ul>
					<li *ngFor="let button of buttons"><a href="{{ button.trigger }}">{{ button.name }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<section class="content">
	<div class="nk-page-background op-5" style="background-color: #190E0F;"></div>
	<div class="page-data">
		<div class="content-bar col-xs-12">
			<router-outlet></router-outlet>
		</div>
	</div>
</section>